REACT_APP_SUPABASE_URL=https://iwwsacdxxrqfuumvsght.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3d3NhY2R4eHJxZnV1bXZzZ2h0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk0MTI3NzYsImV4cCI6MjA4NDk4ODc3Nn0.KthEBMf-huW4eaTQ3zJ8kUIOWWEHx7DRbs_BnWZdC5Q
REACT_APP_FRONTEND_URL=http://localhost:3000
